body {
    background-color: lightskyblue;
    color: rgb(0, 0, 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title {
    background-color: gray;
    display: inline-block;
}

.taskbar {
    background-color: gray;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}