body {
    background-color: lightskyblue;
    color: white;
}

button {
    background-color: limegreen;
    color: white;
}

div {
    background-color: gray;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    align-self: center;
    text-align: center;
}

.list {
    text-align: left;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

tr {
    border: 2px solid black;
}

th {
    border: 2px solid black;
}